.main {
    position: absolute;
    width: 450px;
    height: 300px;
    left: 140px;
    top: 150px;
}

.name {
    width: 80%;
    height: 30%;
    color: #fff;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 51px;

    margin-bottom: 25px;
}

.description {
    width: 85%;
    height: 30%;

    color: #fff;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;

    margin-bottom: 25px;

}

.buttons {
    width: 100%;
    height: 20%;
    color: #fff;
}

.buttonDiv {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;

    align-items: center;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
    border: none;
    outline: none;

    width: 100%;
    height: 60px;
    left: 315px;
    top: 601px;

    color:#fff;
    background: linear-gradient(255.21deg, #43BE5F 0%, #48CC66 99.64%);
    border-radius: 10px;
}
.button:hover{
    background: linear-gradient(255.21deg, #2c6439 0%, #3baa55 99.64%);

}
.playerDiv {
    width: 50%;
    height: 100%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
.playerDiv  *{
    color: #fff;
    margin-right: 15px;
}

.playerDiv img{
    width: 60px;
    height: 60px;
}